Package: groupcover
Version: 0.0.3
Section: utils
Priority: optional
Architecture: amd64
Essential: no
Depends: libc6 (>= 2.12)
Maintainer: Martin Czygan <martin.czygan@uni-leipzig.de>
Description: Group deduplication.
